.list-page {
	background: #f5f5f5;
	min-height: 100vh;
	padding-top: 50px;
}

.list-container {
	text-align: center;
    width: 80%;
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 80px;
}

.list-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
    margin-top: 50px;
}

/* タイトル */
.list-title {
	font-size: 20px;
	margin-bottom: 30px;
    margin-top: 0;
	border-left: 4px solid #000;
	padding-left: 10px;
	text-align: left;
	width: 100%;
	max-width: 800px;
	box-sizing: border-box;
}

/* 月ナビ全体ボックス */
.list-nav-box {
	width: 100%;
	max-width: 800px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 10px 20px;
	border-radius: 12px;
	box-sizing: border-box;
}

/* カレンダー部分 */
.list-nav-center {
	display: flex;
	align-items: center;
	gap: 6px;
	cursor: pointer;
}

.list-nav-calendar-icon {
	font-size: 18px;
	color: #333;
}

.list-nav-input {
	border: none;
	background: transparent;
	font-weight: bold;
	font-size: 18px;
	color: #222;
	outline: none;
	padding: 0;
	text-align: center;
	width: 100px;
	cursor: pointer;
}

/* ボタン */
.list-nav-btn.gray {
	background: transparent;
	border: none;
	color: #555;
	font-weight: bold;
	cursor: pointer;
	padding: 6px 10px;
	transition: 0.2s;
}
.list-nav-btn.gray:hover {
	color: #000;
	transform: scale(1.05);
}

/* 勤怠テーブル */
.list-table {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	border-collapse: collapse;
	background: #fff;
	color: #777;
	font-weight: bold;
	font-size: 14px;
	border-radius: 10px;
	overflow: hidden;
}

.list-row {
	border-top: 3px solid #f5f5f5;
	border-bottom: 3px solid #f5f5f5;
}

.list-row-head {
	border-bottom: 5px solid #f5f5f5;
}

.list-cell {
	padding: 8px;
	text-align: center;
}

.list-row:last-child {
	border-bottom: none;
}

/* 「詳細」リンク */
.list-detail-link {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	transition: text-decoration 0.2s ease;
}

.list-detail-link:hover {
	text-decoration: underline;
}

/* ローディング */
.list-loading {
	font-size: 16px;
	text-align: center;
	color: #555;
	margin: 30px 0;
}

/* タブ切り替えボタン */
.list-tab-box {
	width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #000;
}

.list-tab-button {
	width: 150px;
    background: none;
    border: none;
    font-size: 15px;
    color: #555;
    padding: 8px 0;
    cursor: pointer;
    position: relative;
    transition: color 0.2s;
}

.list-tab-button:hover {
    color: #000;
}

/* アクティブなタブ */
.list-tab-button.active {
    color: #000;
    font-weight: bold;
}

.csv-button-container {
    display: flex;
    justify-content: flex-end;
    max-width: 800px;
    margin: 20px auto 0;
}

.csv-export-btn {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.csv-export-btn:hover {
    background-color: #333;
}